{% extends "base.html" %}

{% block content %}
	{{ state }}
	<form action="/login/" method="post"> {% csrf_token %}
		{% if next %}
		<input type="hidden" name="next" value="{{ next }}" />
		{% endif %}
		username: 
		<input type="text" name="username" value="{{ username }}" /><br />
		password:
		<input type="password" name="password" value="{{ password }}" /><br />
		
		<input type="submit" value="Log In" />
		
		<a id="resetPassword" class="colorless" href="/password/reset/">Forgot your password?</a>
	</form>
	
{% endblock %}
