{% extends "base.html" %}
{% load staticfiles %}


{% block logo %}
	<a href="/home"> <img class="logo" src="/static/img/imirialogo02-14-2013.png" height="50" width="115" /> </a>
{% endblock logo %}	


{% block nav %}
				<li class="hmenu">
					<a href="/products">
						<span>My Products</span>
					</a>
				</li>
				<li class="hmenu">
					<a href="/suppliers">
						<span>Network</span>
					</a>
				</li>
				<li class="hmenu">
					<a href="/people">
						<span>People</span>
					</a>
				</li>
				<li class="nav-login">
					<a href="/accounts/logout/">
						<span>log out</span>
					</a>
				</li>
				<li class="nav-login">
					<a href="/settings/profile">
						<span>Settings</span>
					</a>
				</li>
					
{% endblock nav %}


{% block content %} 
	<p>Cuales son tus intereses?</p>
		{% if user.is_authenticated %}
			<p>Hola espero que estes bien: {{user.username}}</p>
		{% endif %}
{% endblock content %} 