{% extends "base.html" %}
{% load staticfiles %}

{% block title %} Profile | Imiria {% endblock title %}

{% block logo %}
<a href="/home"> <img class="logo" src="/static/img/imirialogo02-14-2013.png" height="50" width="115" /> </a>
{% endblock logo %}	

{% block nav %}
   {{block.super}}
{% endblock nav %}

{% block content %}
<h3>Settings</h3>
<h2>Your account setting</h2>
<hr>
    <a href="/settings/profile">PROFILE</a>  | 
    <a href="/settings/enterprice/">ENTERPRICE INFORMATION</a> | 
    <a href="/accounts/password/change/">PASSWORD</a>  
<hr>


<form  id="signup_form" method="post" action=".">
 	{% csrf_token %}
 	{{ form.non_field_errors }}
        
    <div class="fieldWrapper">
        {{ form.first_name.errors }}
        <label for="id_first_name">First Name:</label>
        {{ form.first_name }}
        
        {{ form.last_name.errors }}
        <label for="id_last_name">Last Name:</label>
        {{ form.last_name }}
    </div>
    <!-- <div class="fieldWrapper">
        {{ form.last_name.errors }}
        <label for="id_message">Last Name:</label>
        {{ form.last_name }}
    </div>
     -->
    <hr>
    <div class="fieldWrapper">
        {{ form.business_name.errors }}
        <label for="id_business_card">Business Card:</label>
        {{ form.business_card }}
    </div>

    <div class="fieldWrapper">
        {{ form.user.errors }}
        <label for="id_user">User:</label>
        {{ form.user }}
    </div>
    <hr>
    
    <button type="submit">Submit</button>
</form>

{% endblock content %}